# 1. Ignore everything by default
*

# 2. Allow the git config files
!.gitignore
!.gitattributes

# 3. Allow your specific folders
!LEGO_Grid_Placement/
!LEGO_Grid_Placement/**

!LEGOQuests/
!LEGOQuests/**

!LEGOUtilities/
!LEGOUtilities/**

# 4. Allow the UI folder structure and the specific fileasd
!UI/
UI/*
!UI/lego_stud_counter_device.verse